
.g2wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 20px;
}
.g2wrapperReverse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-flow: dense; */
    place-items: center;
    gap: 20px;
}

.custominput{
    position: relative;
    width: 100%;
    outline: none;
    padding-inline: 16px;

}
.custominput::placeholder{
    display: block;
    color: rgba(0, 0, 0, 0.849);

}

.ainputwrapper .custominput{
    border: 1px solid rgba(40, 46, 64, 1);
    padding-block: 10px;
    border-radius: 5px;
    font-size: 15px;

}
.ainputwrapper .ainputlabel{
    font-size: 14px;
    font-weight: bolder;

}
.btnani{
    transition: translate 0.5s ease-in-out;
    cursor: pointer;
}
.btnani:hover{
    translate: 0px -5px;
}


.title{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    width:fit-content;
}
.Flip{
    width: 100%;
    overflow: hidden;
}
.FlipInnerFrame{
    display: flex;
    width:100%;
    height: 100%;
    overflow-x: visible;
    min-width: 100%;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cg2w{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .cg2w{
        display: flex;
        flex-direction: column;
        
    }
    .g2wrapper{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;;
        
    }
    .g2wrapperReverse{
        display: flex;
        flex-direction: column;
        align-items: center;;
    }
}