@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('../utils/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../utils/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../utils/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Hiding default slick-carousel arrows */
.slick-prev:before,
.slick-next:before {
  display: none;
}


@keyframes slowBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.slow-bounce {
  animation: slowBounce 3s ease-in-out infinite; /* Adjust 3s for speed */
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --boxinsetshadow:inset 0px 10px 15px  rgba(255, 255, 255, 0.253),
    inset 0px -10px 15px  rgba(255, 255, 255, 0.144);
    --boxinsetmshadow:inset 0px 10px 18px  rgba(255, 255, 255, 0.226),
    inset 0px -10px 10px  rgba(255, 255, 255, 0.144);
    --boxinsetrshadow:inset 0px 5px 5px  rgba(255, 255, 255, 0.151),
    inset 0px -5px 5px  rgba(255, 255, 255, 0.096);
    --BshadW:inset 0px 10px 15px rgba(255, 255, 255, 0.486),
    inset 0px -10px 15px rgba(0, 0, 0, 0.432);
  }
}
.ani-hidden{
  opacity: 0;
  filter:blur(10px);
}

.right-hide{
  translate: 100px 0;
}
.left-hide{
  translate: -100px 0;
}
.top-hide{
  translate: 0 -100px;
}
.bottom-hide{
  translate: 0 100px;
}
.ani-show{
  opacity: 1;
  filter:blur(0px);
  translate: 0 0;
  transform: translate(0,0);
}
*{
  transition: opacity 0.5s ease-in-out,
   filter 0.5s ease-in-out,
   translate 0.5s ease-in-out,
   transform 0.5s ease-in-out;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background: white;
    color: black;
  height: 100vh;
  overflow-x: hidden;
  font-family: Montserrat Alternates;
}


/* Scroll  bar styling */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Width of the scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track (the background of the scrollbar) */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Thumb (the draggable part of the scrollbar) */
body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 1.5px solid #f1f1f1; /* Optional: Adds space around the thumb */
}


/* Center container with white background */
.container {
  max-width: 1200px; /* Set a max width for the main content */
  margin: 0 auto; /* Center the content */
  padding: 20px; /* Add some padding */
  background-color: #fff; /* Ensure container is white */
}

*, *::before, *::after {
  box-sizing: border-box;
}